/* Import the Google web fonts you want to use */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand&family=Roboto:wght@100&display=swap");

/* FONTS */
body,
button,
input,
select,
textarea {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", serif;
}

/* COLOR PALETTE */
:root {
  --primary: #FFB703; /* Bright gold */
  --secondary: #FB8500; /* Vibrant orange */
  --info: #8ECAE6; /* Soft light blue */
  --warning: #FF6F00; /* Orange-red */
  --white: #FFFFFF; /* White */
  --offWhite: #F1F5F9; /* Very light gray with a hint of blue */
  --dark: #023047; /* Deep blue */
  --outline: #B3B3B3; /* Medium gray */
  --appBackground: #DDDADE; /* Light gray with a hint of color */
}

/* GLOBAL STYLES */
body {
  background-color: var(--appBackground);
  color: var(--dark);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--dark);
}

a:visited {
  color: var(--dark);
}

input:focus {
  outline: none;
}

/* GLOBAL STYLING FOR ALL THE BUTTONS */
button {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: var(--white);
  cursor: pointer;
}

/* Button color options */
.btn-primary {
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: #e5a000; /* Slightly darker shade of the primary color */
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-secondary:hover {
  background-color: #e07400; /* Slightly darker shade of the secondary color */
}

.btn-warning {
  background-color: var(--warning);
}

.btn-warning:hover {
  background-color: #e14400; /* Slightly darker shade of the warning color */
}

.btn-info {
  background-color: var(--info);
}

.btn-info:hover {
  background-color: #70a3d1; /* Slightly darker shade of the info color */
}

/* Welcome Section
.welcome {
  text-align: center;
  margin: 5rem 14rem;
  font-size: 4rem;
  color: var(--dark);
  font-weight: bold;
  text-shadow: 2px 3px 4px var(--outline); */
/* } */
