.navbar {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--dark);
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0.5rem;
}

/* Style the links inside the navigation bar */
.navbar-link {
  flex: 1;
  color: var(--offWhite) !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}

/* Change the color of links on hover */
.navbar-link:hover {
  background-color: var(--primary) !important;
  color: black;
}

/* Add a color to the active/current link */
.navbar-link.active {
  background-color: #04AA6D;
  color: white;
}
